@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ykbold;
    src: url('../font/YekanBakh-Bold-ClubEdits.woff') format('woff');
}
@font-face {
    font-family: yklight;
    src: url('../font/YekanBakh-Light-ClubEdits.woff') format('woff');
}
@font-face {
    font-family: ykmedium;
    src: url('../font/YekanBakh-Medium-ClubEdits.woff') format('woff');
}
@font-face {
    font-family: ykregular;
    src: url('../font/YekanBakh-Regular-ClubEdits.woff') format('woff');
}


body{
    background: var(--Zhaket-CMS-p1-10, #F6F4F8);
    font-family: ykbold;
}

/*------------------------header--------------------------*/

.card-search-icon{
    display: inline-flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px 30px 4px 30px;
    background: var(--Zhaket-CMS-p1-90, #5B4586);
}

.search-input{
    display: flex;
    width: 263px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 5px;
}

.search-input::placeholder{
    color: var(--Zhaket-CMS-p1-50, #A79BBE);
    text-align: right;
    font-family: Ykmedium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 5px;
}

.search-input:focus{
    outline: none;
}

.card-Cart{
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px 30px 4px 30px;
    background: var(--Zhaket-CMS-p1-90, #5B4586);
}

.cart-num{
    display: flex;
    width: 24px;
    height: 24px;
    padding: 4px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.card-login{
    display: inline-flex;
    height: 48px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Zhaket-CMS-p1-60, #9587B0);
}

.login-text{
    color: var(--white, #FFF);
    text-align: right;
    font-family: ykbold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.burgerMenu-backshadow{
    /* From https://css.glass */
    background: rgba(19, 19, 19, 0.2);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.lockScroll{
    overflow: hidden !important;
}

/* .burger-close{
    border-radius: 11px;
    box-shadow: 0px 4.196px 20.281px 0px rgba(70, 28, 28, 0.30);
} */

.burger-title{
    color: #42304A;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Ykbold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
}

.burger-paragraph{
    color: #42304A;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Ykmedium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.062px; /* 106.636% */
}


/*------------------------header--------------------------*/




/* ---------------------------nav-------------------------------- */ 

.tab1{
    display: flex;
    width: 144px;
    height: 40px;
    font-family: ykmedium;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    border-radius: 30px 30px 0px 0px;
    background: var(--Zhaket-CMS-p1-80, #6E5B94);
}

.item{
    display: flex;
    width: 144px;
    height: 40px;
    padding: 8px 16px;
    font-family: ykmedium;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px 30px 0px 0px;
    background: var(--Zhaket-CMS-p1-10, #F6F4F8);
}

/* ---------------------------nav-------------------------------- */

/*-------------------------footer---------------------------*/

.title-fot{
    color: var(--black-70, #4A4A4A);
    text-align: justify;
    font-family: ykbold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Description-fot{
    color: var(--black-60, #626262);
    font-family: yklight;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.Continuation-fot{
    color: var(--Zhaket-CMS-p1-70, #8473A3);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.point-card-title{
    color: #6E6E6E;
    text-align: center;
    font-family: Ykmedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card{
    display: flex;
    flex-wrap: wrap;
}

.footer-lastCard{
    border-radius: 100px 30px;
    background: var(--Zhaket-CMS-p1-20, #E4E0EB);
}

.footer-card-item .item1{
    display: flex;
    padding: 4px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px 30px 4px 30px;
    background: var(--Zhaket-CMS-p1-10, #F6F4F8);
    color: var(--Zhaket-CMS-p1-100, #422872);
    text-align: center;
    font-family: Ykbold;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-card-item .item2{
    display: flex;
    padding: 4px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: var(--Zhaket-CMS-p1-10, #F6F4F8);
    color: var(--Zhaket-CMS-p1-100, #422872);
    text-align: center;
    font-family: Ykbold;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-card-item .item3{
    display: flex;
    padding: 4px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px 30px 30px 30px;
    background: var(--Zhaket-CMS-p1-10, #F6F4F8);
    color: var(--Zhaket-CMS-p1-100, #422872);
    text-align: center;
    font-family: Ykbold;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media not all and (min-width: 640px) {
    .point-card-title{
        font-size: 10px;
    }

    .Description-fot{
        line-height: 18px;
    }
}

/*-------------------------footer---------------------------*/
